.box {
    padding: rems($base);
    @extend .clearfix;
}

.box-title {
    margin: 0;
}

.box-list {
    > li > p {
        margin: 0;
    }
}

.box--gray {
    background-color: $lightestgray;
}

.box--wavytop {
    position: relative;

    &:before {

    }
}

.box--wavy-topbottom {
    position: relative;
    z-index: 1;

    &:before,
    &:after {
        content: '';
        display: block;

        background-size: 100%;
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        right: 0;
    }

    &:before {
        background-image: url(/assets/img/masks/recent-news-caption-top.png);
        height: 11px;
        top: 0;
    }

    &:after {
        background-image: url(/assets/img/masks/recent-news-caption-bottom.png);
        height: 7px;
        top: 100%;
    }
}

.box--wavybottom {
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 8px;

        background-size: 100% 8px;
        background-repeat: no-repeat;
        background-image: url(/assets/img/masks/recent-news-image-bottom.png);

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.box--white {
    position: relative;
    //padding-top: 100%;

    > img.box-image {
        opacity: 0;
        padding-bottom: 1px;
    }

    > img.box-mask {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    + .text {
        padding: 0 5px;
    }
}

.loaded img.box-image {
    opacity: 1;
    @include transition(opacity 250ms ease);
}
