.btn {
    display: inline-block;

    &:focus {
        outline: 1px dotted rgba(black, 0.25);
    }
}

.btn-submit {
    color: white;
    background-color: $pink;
    border: 1px solid $gray;
    padding: 5px 13px;
    @include transition(background-color 150ms ease);

    &:focus {
        outline: 1px dotted #333;
    }

    &:hover {
        background-color: $darkgray;
    }
}

.btn-menu {
    display: inline-block;

    padding: 7px;
    margin-right: -7px;

    transition: $transition;

    @include mq($screen-min) {
        display: none;

        &.btn--sidemenu {
            display: block;
            margin: 0 auto;
        }
    }

    > span {
        position: relative;
        vertical-align: middle;
        background-color: white;
        @include line;

        &:before,
        &:after {
            background-color: white;
            content: '';
            position: absolute;
            left: 0;
            @include line;
        }

        &:before {
            @include translateY( rems($button-size/5) );
        }

        &:after {
            @include translateY( -(rems($button-size/5)) );
        }
    }

    &.btn--sidemenu {
        > span,
        > span:before,
        > span:after {
            background-color: $darkgray;
        }
    }

    &.close {
        > span {
            background: transparent;

            &:before,
            &:after {
                transform-origin: 50% 50%;
                @include translateY(0);
                width: $button-size;
            }

            &:before {
                @include rotate3d(0,0,1,45deg);
            }

            &:after {
                @include rotate3d(0,0,1,-45deg);
            }
        }
    }
}

.btn--left,
.btn--right {
    font-size: 0;

    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;

        height: 0;
        width: 0;
        border: solid transparent;
        border-top-width: 10px;
        border-bottom-width: 10px;

        @include transition(border-color 150ms);
    }
}

.btn--right {
    &:hover:after {
        border-left-color: $pink;
    }

    &:after {
        border-left-color: $lightergray;
        border-left-width: 11px;
        border-right-width: 0;
    }
}

.btn--left {
    &:hover:after {
        border-right-color: $pink;
    }

    &:after {
        border-right-color: $lightergray;
        border-right-width: 11px;
        border-left-width: 0;
    }
}
