.btn {
    &:focus {
        outline: 1px dotted rgba(black, 0.25);
    }
}

.btn-menu {
    display: inline-block;

    padding: 7px;
    margin-right: -7px;

    transition: $transition;
    @include handwriting;

    @include mq($screen-min) {
        display: none;
    }

    > span {
        position: relative;
        vertical-align: middle;
        @include line;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            @include line;
        }

        &:before {
            @include translateY( rems($button-size/5) );
        }

        &:after {
            @include translateY( -(rems($button-size/5)) );
        }
    }

    &.close {
        > span {
            background: transparent;

            &:before,
            &:after {
                transform-origin: 50% 50%;
                @include translateY(0);
                width: $button-size;
            }

            &:before {
                @include rotate3d(0,0,1,45deg);
            }

            &:after {
                @include rotate3d(0,0,1,-45deg);
            }
        }
    }
}
