input.input-gray {
    position: relative;
    display: block;
    width: 100%;
    max-width: 256px;

    @include box-sizing(border-box);

    padding: rems(10) rems(8);
    margin-bottom: rems($base);
    border: none;
    background-color: $lightestgray;

    &::-webkit-input-placeholder {
        color: $darkgray;
    }

    &:focus {
        outline: 1px dotted #333;
    }

}

.input--full {
    max-width: none;
}

.input-gray[type="search"] {
    background-image: url(/assets/img/search-icon.png);
    background-size: 13px 14px;
    background-position: 95% center;
    background-repeat: no-repeat;
}

.input-gray[type="email"] {
    background-image: url(/assets/img/envelope-icon.png);
    background-size: 13px 12px;
    background-position: 95% center;
    background-repeat: no-repeat;
}

.input-border {
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;

        position: absolute;
        left: 0;
        right: 0;
        height: 6px;
        
        background-size: 256px 100%;
        background-repeat: no-repeat;

        pointer-events: none;
    }

    &:before {
        background-image: url(/assets/img/masks/input-top.png);
        top: 0;
    }

    &:after {
        background-image: url(/assets/img/masks/input-bottom.png);
        bottom: 0;
    }
}

.textarea-gray {
    display: block;
    background-color: $lightestgray;
    resize: none;
    width: 100%;

    &::-webkit-input-placeholder {
        color: $darkgray;
    }

    &:focus {
        outline: 1px dotted #333;
    }
}
