.gallery {
    //margin: -5px -10px rems($base);

    text-align: justify;
    font-size: 0;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.gallery-item {
    position: relative;

    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    //margin: 5px 10px;

    .thumb {
        opacity: 0;
        //min-width: 138px;
        //height: 100%;

        .loaded & {
            opacity: 1;
            @include transition(opacity 250ms ease);
        }
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
