.l-highlight {
    background-color: $darkgray;

    @include transition(background-color 250ms ease-in);
}

.l-highlight-offwhite {
    background-color: $offwhite;
}

.l-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    ~ * {
        padding-top: 72px;

        @include mq($screen-min) {
            padding-top: 58px;
        }
    }
}

.l-fixed {
    z-index: 1;
    position: fixed;
}

.l-fixed--upperleft {
    top: 25px;
    left: 25px;
}

.l-fixed--upperright {
    top: 25px;
    right: 25px;
}

.l-fixed--lowerleft {
    bottom: 25px;
    left: 25px;
}

.l-fixed--lowerright {
    bottom: 35px;
    right: 25px;
}

.l-max {
    width: 100%;
    max-width: #{$max-width}px;
    margin-left: auto;
    margin-right: auto;
}

.l-withsidebar {
    @include flexbox;
    @include flex-wrap(nowrap);
}

.l-content-withsidebar {
    position: relative;
    @include flex(1);
    width: 100%;
    max-width: #{$content-width}px;
    margin-left: auto;
    margin-right: auto;
    padding-top: rems($base * 2);

    @include translate3d(0,0,0);
}

.l-content {
    width: 100%;
    padding: 0 rems($base);
}

.l-sidebar {
    display: none;

    @include mq($screen-min) {
        display: block;
    }
}

.l-vpadding {
    padding: #{$base}px rems($base/2);

    @include mq($screen-min) {
        padding-left: rems($base);
        padding-right: rems($base);
    }

    @include mq($screen-max) {
        padding-left: 0;
        padding-right: 0;
    }
}

.l-contain {
    @extend .clearfix;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.l-clear {
    clear: both;
}

.l-left-block {
    float: left;
}

.l-right-block {
    float: right;
}

.l-right-block,
.l-left-block {
    max-width: 674px;
    width: 100%;

    &.solo {
        margin: 0 auto;
        float: none;
    }
}

.l-upperright {
    position: absolute;
    z-index: 1;
    top: rems($base);
    right: rems($base);
}

.l-twocolumn {
    @extend .clearfix;


    @include mq($screen-min) {

        > * {
            float: left;
        }
    }

    @include mq($screen-max) {
        //padding: 0;
    }
}

.l-2of3 {
    width: 100%;
    padding: 0 rems($base/2);

    @include mq($screen-min) {
        width: 2 / 3 * 100%;
    }
}

.l-1of3 {
    width: 100%;

    @include mq($screen-min) {
        width: 1 / 3 * 100%;
        //max-width: 330px;
        padding-right: rems($base/2);
    }
}

.l-flexpage {

    //@include mq($screen-min) {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;

        > :first-child {
            @include flex(1);
            @include flex-basis(60%);
        }
    //}
}

.l-slideshow {
    position: relative;
}
