body.lightbox-open {
    overflow: hidden;
}

.lightbox-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 200;
    background-color: black;
    background-image: none;

    @include transition(background-color, 150ms);

    .logo {
        display: none;
    }

    @include mq($screen-min) {
        background-color: white;

        .logo {
            opacity: 0.1;
            width: 33px;
        }
    }
}

.lightbox-bg.loading {
    background-image: url(/assets/img/ajax-loader.gif) !important;
    background-position: center center;
    background-repeat: no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .lightbox-bg.loading {
        background-image: url(/assets/img/ajax-loader.gif) !important;
        background-size: 64px 64px
    }
}

.lightbox-body {
    height: 100%;
    padding: 35px 0;
    opacity: 0;
    @include transition(opacity 150ms ease-out);

    overflow-y: scroll;

    @include mq($screen-min) {
        overflow: auto;
        padding: 75px;
    }

    &.is-visible {
        opacity: 1;
    }

    .slick-slider {
        margin: auto;
    }

    .slick-list,
    .slick-track {
        height: 100%;
    }

    .slick-initialized .slick-slide {
        margin: auto;
        position: relative;
    }

    .slick-prev,
    .slick-next {
        height: auto;
        width: auto;
    }
}

.lb-content {
    height: 100%;
    text-align: center;
    position: relative;

    background-color: black;
    //background-image: url("/assets/css/img/loader.gif") !important;

    background-position: center center;
    background-repeat: no-repeat;

    &.active {
        opacity: 1;
    }

    @include mq($screen-min) {
        opacity: 0;
        @include transition(opacity 250ms ease);
        background-color: white;
    }
}


.lb-img,
.lb-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.lb-img {
    max-height: 100%;
}

.lightbox-body .lb-mask {
    display: none;

    @include mq($screen-min) {
        display: block;
    }
}


.lb-caption {
    max-width: 640px;
    width: 100%;

    padding: 15px;

    color: white;
    @include transition(opacity 150ms ease);

    &.fade-out {
        opacity: 0;
    }

    p {
        margin-bottom: 0;
    }

    @include mq($screen-min) {
        position: absolute;
        bottom: 41px;
        padding: 0;

        p {
            font-weight: 300;
            color: initial;
        }
    }
}

.no-flexbox .lb-content {
    height: auto
}

#lightboxBtns .slick-dots {
    position: static;
    width: auto;
    vertical-align: middle;

    @include transition(opacity 150ms);

    li {
        margin: 0 2px;
    }
}
