.nav {
    position: fixed;

    top: 72px; // nav bar height on small
    left: 0;
    bottom: 0;
    z-index: 1;

    background: $darkgray;
    width: 100%;
    overflow: scroll;

    @include translateX(-100%);
    @include transition(transform 250ms ease-out);

    &.nav--lower {
        top: 94px;
    }

    @include mq($screen-min) {
        width: auto;
        position: static;
        overflow: visible;
        @include translateX(0);
        @include transition(none);
    }
}

.nav-dropdown {
    padding-left: rems($base);
}

.nav-list {
    padding: rems($base);

    .nav-dropdown > & {
        padding: 0;
    }

    @include mq($screen-min) {
        padding: 0;
        text-align: right;
    }
}

.nav-item {
    position: relative;

    > a {
        position: relative;

        text-transform: lowercase;
        text-decoration: none;
        color: $lightergray;
        @include fontsize($font-navlg);

        &:hover,
        &.active {
            color: $pink;
        }

        .nav-dropdown & {
            @include fontsize($font-navmed);
        }
    }

    @include mq($screen-min) {
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;

        &:first-child {
            margin-left: 0;
        }

        > a {
            display: block;
            position: static;
        }

        .nav-dropdown & {
            display: block;
            text-align: left;
            margin: 0;
        }
    }
}

.nav-dropdown {
    overflow: hidden;
    @include transition(max-height 250ms ease-in);

    @include mq($screen-min) {
        position: absolute;
        left: -(rems($base));
        overflow: auto;

        background-color: $darkgray;
        padding: rems($base/2) rems($base) rems($base);

        opacity: 0;
        pointer-events: none;

        @include transition(opacity 250ms ease-in);
    }
}

[data-dropdown] {
    > a:after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        right: -21px;
        top: 20px;

        border: solid transparent;
        border-left-color: $gray;
        border-top-width: 10px;
        border-bottom-width: 10px;
        border-left-width: 11px;
        border-right-width: 0;

        @include transition(transform 250ms ease-in);

        @include mq($screen-min) {
            display: none;
        }
    }

    @include mq($screen-min) {
        &:hover > .nav-dropdown {
            opacity: 1;
            pointer-events: all;
        }
    }
}

h1.nav-logo {
    margin: 8px 0 0;
    text-transform: lowercase;

    > a {
        font-family: "handwriting";
        text-decoration: none;
        color: $lightergray;
        @include fontsize( (small: 23, medium: 18) );

        &:hover {
            color: $pink;
        }
    }

    @include mq($screen-min) {
        margin: 0;
        line-height: 0.9;
    }
}

.nav-subtitle {
    text-transform: lowercase;
    color: $lightergray;
}
