.nav {
    position: fixed;

    top: 72px; // nav bar height on small
    left: 0;
    bottom: 0;
    z-index: 1;

    background: $darkgray;
    width: 100%;
    overflow: scroll;

    @include translateX(-100%);
    @include transition(transform 250ms ease-out);

    &.nav--lower {
        top: 94px;
    }

    @include mq($screen-min) {
        width: auto;
        position: static;
        overflow: visible;
        @include translateX(0);
        @include transition(none);
    }
}

.nav-side {
    position: fixed;
    //overflow-y: scroll;

    padding: rems($base);
    height: 100%;

    background-color: $offwhite;

    &:after {
        content: '';
        display: block;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 18px;

        background-image: url(/assets/img/masks/sidenav.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.nav-dropdown {
    padding-left: rems($base);
}

.nav-list {
    padding: rems($base);

    .nav-dropdown > & {
        padding: 0;
    }

    @include mq($screen-min) {
        padding: 0;
        text-align: right;
    }
}

.nav-item {
    position: relative;

    > a {
        position: relative;

        text-transform: lowercase;
        text-decoration: none;
        color: $lightergray;
        @include fontsize($font-navlg);

        &:hover,
        &.active {
            color: $pink;
        }

        .nav-dropdown & {
            @include fontsize($font-navmed);
        }
    }

    @include mq($screen-min) {
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;

        &:first-child {
            margin-left: 0;
        }

        > a {
            display: block;
            position: static;
        }

        .nav-dropdown & {
            display: block;
            text-align: left;
            margin: 0;
        }
    }
}

.nav-dropdown {
    overflow: hidden;
    @include transition(max-height 250ms ease-in);

    @include mq($screen-min) {
        position: absolute;
        left: -(rems($base));
        overflow: auto;

        background-color: $darkgray;
        padding: rems($base/2) rems($base) rems($base);

        opacity: 0;
        pointer-events: none;

        @include transition(opacity 250ms ease-in);
    }
}

[data-dropdown] {
    > a:after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        right: -21px;
        top: 20px;

        border: solid transparent;
        border-left-color: $gray;
        border-top-width: 10px;
        border-bottom-width: 10px;
        border-left-width: 11px;
        border-right-width: 0;

        @include transition(transform 250ms ease-in);

        @include mq($screen-min) {
            display: none;
        }
    }

    @include mq($screen-min) {
        &:hover > .nav-dropdown {
            opacity: 1;
            pointer-events: all;
        }
    }
}

h1.nav-logo {
    margin: 8px 0 0;
    text-transform: lowercase;

    > a {
        font-family: "handwriting";
        text-decoration: none;
        color: $lightergray;
        @include fontsize( (small: 23, medium: 18) );

        &:hover {
            color: $pink;
        }
    }

    @include mq($screen-min) {
        margin: 0;
        line-height: 0.9;
    }
}

.nav-subtitle {
    text-transform: lowercase;
    color: $lightergray;
}

.nav-sibling {
    height: 80px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
}

.nav-sibling-title {
    display: block;
    white-space: nowrap;

    font-family: handwriting;
    color: $darkgray;
    text-transform: lowercase;


    &:before {
        content: '';
        height: 80px;
        display: inline-block;
        vertical-align: middle;
    }
}

.nav-sibling--prev {
    left: -85px;

    .nav-sibling-clip {
        left: 0;
        -webkit-clip-path: circle(20px at 35px 40px);

        &:hover {
            -webkit-clip-path: circle(300px at 35px 40px);

            .nav-arrow:after {
                border-right-color: white;
            }
        }
    }

    .nav-sibling-title {
        margin-left: 65px;
        padding-right: 25px;
    }

    .nav-arrow {
        left: 15px;

        &:after {
            left: 12px;

            border-right-color: $darkgray;
            border-top-width: 10px;
            border-bottom-width: 10px;
            border-right-width: 11px;
            border-left-width: 0;
        }
    }
}

.nav-sibling--next {
    right: -85px;

    .nav-sibling-clip {
        right: 0;

        &:hover {
            -webkit-clip-path: circle(300px at center) !important;

            .nav-arrow:after {
                border-left-color: white;
            }
        }
    }

    .nav-sibling-title {
        margin-right: 65px;
        padding-left: 25px;
    }

    .nav-arrow {
        right: 15px;

        &:after {
            right: 12px;

            border-left-color: $darkgray;
            border-top-width: 10px;
            border-bottom-width: 10px;
            border-right-width: 0;
            border-left-width: 11px;

        }
    }
}

.nav-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: rgba($lightergray, 0);

    @include transition(background-color 250ms ease 250ms);

    &:hover {
        background-color: rgba($lightergray, 1);
        @include transition(background-color 250ms ease 0ms);
    }

    &:after {
        content: '';
        height: 0;
        width: 0;

        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        border: solid transparent;
        @include transition(border-color 250ms ease 0s);
    }

    &.disabled {
        background-color: $lightergray;
        opacity: 0.4;
    }
}

.nav-sibling-clip {
    background-color: rgba($lightestgray, 0);
    position: absolute;

    .loaded & {
        background-color: rgba($lightestgray, 1);
        @include transition(background-color 250ms ease 0s, -webkit-clip-path 250ms ease 150ms);
    }

    &:hover {
        transition: -webkit-clip-path 250ms ease;

        > .nav-arrow {
            background-color: rgba($lightgray, 1);
        }
    }
}
