.project {
    margin-top: rems($base * 2);
    margin-bottom: rems($base * 2);
    padding: 0 rems($base);

    @include mq($screen-min) {
        padding: 0;
    }

    > .text {
        width: 100%;
        max-width: 674px;
        margin: 0 auto;
    }
}

.project-gallery {
    position: relative;
    margin-bottom: 30px;

    &.loaded .project-slide {
        position: relative;
        opacity: 1;
    }

    .slick-list {
        @include perspective(400px);
    }

    .slick-track {
        padding: 10px 0;
        @include transform-style(preserve-3d);
        @include flexbox;
    }

    .slick-slide {
        position: relative;
        height: auto;

        @include flexbox;

        @include transition(transform 150ms ease, opacity 250ms ease);
        @include translateZ(-100px);

    }

    .slick-slide.slick-center {
        z-index: 300;
        @include translateZ(0px);

        .project-image {
            box-shadow: 12px 0px 15px -10px rgba(0, 0, 0, 0.15), -12px 0px 15px -10px rgba(0, 0, 0, 0.15);
            @include transition(box-shadow 150ms ease);
        }
    }

    .slick-dots {
        bottom: -25px;
    }
}

.project-slide {
    opacity: 0;
}

.project-slide:not(:first-child) {
    position: absolute;
}

.project-wrapper {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.project-image {
    margin: auto;
    box-shadow: 20px 0px 7px -10px rgba(0, 0, 0, 0), -20px 0px 7px -10px rgba(0, 0, 0, 0);
}

.project-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
