.is-splash-page {
    background: $darkgray;

    > header,
    > main {
        opacity: 0;
    }
}

.is-not-scrolling {
    &#scrollbox,
    .scrollbar {
        &::-webkit-scrollbar {
            width: 0;
            display: none;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
} 

.is-menu-open {
    header.l-highlight {
        background-color: $pink;
    }

    .nav {
        @include transition(transform 250ms ease-out);
        @include translateX(0);
    }

    .nav-logo > a {
        color: $darkgray;
    }

    .nav-subtitle {
        color: $darkgray;
    }

    @include mq($screen-min) {
        header.l-highlight {
            @include transition(none);
            background-color: $darkgray;
        }
        .nav-logo > a {
            color: $lightergray;
        }
    }
}

[data-dropdown="is-closed"] > .nav-dropdown { 
    max-height: 0;
}

[data-dropdown="is-open"] > .nav-dropdown {
    max-height: 200px;
}

@include mq($screen-min) {

    [data-dropdown="is-open"] > .nav-dropdown,
    [data-dropdown="is-closed"] > .nav-dropdown { 
        max-height: initial;
    }

}

[data-dropdown="is-closed"] > a:after {
    @include rotate(0deg);
}

[data-dropdown="is-open"] > a:after {
    cursor: default;
    @include rotate(90deg);
}

.sidebar-for-open,
.sidebar-for-closed {

}

[data-sidebar="is-closed"] {
    &,
    > .nav-side {
        width: 56px;
    }

    h2,
    .sidebar-for-open {
        pointer-events: none;
        opacity: 0;
        @include translate3d(-100%, 0, 0);
    }

    .sidebar-for-closed {
        pointer-events: auto;
        opacity: 1;
        @include translate3d(0%, 0, 0);
    }

    .l-upperright {
        right: 0;
        left: 0;
    }
}

[data-sidebar="is-open"] {
    &,
    > .nav-side {
        width: 390px;
    }

    h2,
    .sidebar-for-open {
        pointer-events: auto;
        opacity: 1;
        @include translate3d(0%, 0, 0);
    }

    .sidebar-for-closed {
        pointer-events: none;
        opacity: 0;
        @include translate3d(0, 100%, 0);
    }

    + .l-content-withsidebar {
        padding-left: 70px;
        padding-right: 70px;
    }
}
