.text {
    @include antialiased;
}

.text-body {
    overflow: hidden;

    &.medium {
        @include fontsize($font-medium);
    }

    &.padded {
        padding: 0 rems($base);
    }

    p {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
    }

    > ul,
    > ol {
        list-style-position: inside;
    }

    ol {
        counter-reset: counter;

        li:before {
            counter-increment: counter;
            content: counter(counter)" ";
            font-weight: 500;
        }
    }
}

.text-scroll {
    overflow-y: scroll;
    max-height: 258px;
}

.title {
    margin-bottom: 0;
    font-weight: 200;
    @include fontsize($font-large-header);
    -webkit-font-smoothing: initial;
    text-transform: lowercase;

    + p {
        margin-top: 0;
    }
}
