.text {
}

.text-summary {
    text-align: center;

    > .text-title {
        margin-bottom: 0;
    }

    &:after {
        content: url(/assets/img/short-line-divider.png);
        display: block;
        margin: rems($base * 4) auto;
        max-width: 376px;
        opacity: 0.4;
    }

    &:last-of-type {
        margin-bottom: rems($base * 4);

        &:after {
            content: '';
        }
    }
}

.text-body {
    overflow: hidden;

    &.medium {
        @include fontsize($font-medium);
    }

    &.large {
        @include fontsize($font-large);
    }

    &.text-footer {
        text-transform: lowercase;
        color: $lightgray;
        @include fontsize($font-medium);

        > a {
            color: $lightgray;
            &:hover {
                color: $pink;
            }
        }
    }

    &.padded {
        padding: 0 rems($base);
    }

    p {
        font-size: inherit;
        line-height: inherit;

        &:first-child {
            margin-top: 0;
        }
    }

    > ul,
    > ol {
        list-style-position: inside;
    }

    ol {
        counter-reset: counter;

        li:before {
            counter-increment: counter;
            content: counter(counter)" ";
            font-weight: 500;
        }
    }
}

.text-scroll {
    overflow-y: scroll;
    max-height: 258px;
}

.text-title {
    //margin-bottom: 0;
    font-weight: 200;
    @include fontsize($font-large-header);
    -webkit-font-smoothing: initial;
    text-transform: lowercase;

    + p {
        margin-top: 0;
    }

    > a {
        text-decoration: none;
        color: $darkgray;

        &:hover {
            color: $pink;
        }
    }
}

.text-header {
    > .text-title {
        margin-bottom: 0;
    }

    &:after {
        content: url(/assets/img/long-line-divider.png);
        display: block;
        margin: rems($base * 2) 0;
        opacity: 0.4;
    }
}
