// FUNCTIONS
@function rems($value) {
    @return #{$value/16}rem;
}

@mixin mq($mq) {
    @media only screen and ($mq) {
        @content;
    }
}

// MIXINS
$button-size: 38;
$transition: .3s all linear;

@mixin line {
    display: inline-block;
    width: rems($button-size);
    height: 3px;
    background: white;
    transition: $transition;
}

@mixin fontsize($size-map) {
    $small-size: map-get($size-map, small);
    $medium-size: map-get($size-map, medium);

    font-size: #{$small-size}px; 
    font-size: rems($small-size);

    @include mq($screen-min) {
        font-size: #{$medium-size}px;
        font-size: rems($medium-size);
    }
}

@mixin vertical-rhythm($size-map) {
    $small-size: map-get($size-map, small);
    $medium-size: map-get($size-map, medium);

    line-height: $small-size/$base;
    margin-top: #{$small-size/$base}rem;
    margin-bottom: #{$small-size/$base}rem;

    @include mq($screen-min) {
        line-height: $medium-size/$base;
        margin-top: #{$medium-size/$base}rem;
        margin-bottom: #{$medium-size/$base}rem;
    }
}

@mixin handwriting {
    font-family: "handwriting";
    letter-spacing: 0.05em;
    font-weight: normal;
}

@mixin antialiased {
    -webkit-font-smoothing: antialiased;
    // font weight 200 looks fine on firefox
    //-moz-osx-font-smoothing: grayscale;
}

// FONTS
$base: 19;
$font-medium: (small: 17.5, medium: 16);
$font-large: (small : 20, medium: 22); 

$font-carousel: (small: 24, medium: 43);

$font-medium-header: (small : 20, medium : 23);
$font-large-header: (small : 25, medium: 30);

$font-navmed: (small: 27.5, medium: 16); // mobile dropdown links
$font-navlg: (small: 45, medium: 16); // probably only used on mobile menu

// SCREENS
$max-width: 1200;
$min-width: 538;

$content-width: 667;

$screen-min: "min-width:" rems($min-width);
$screen-max: "min-width:" rems($max-width);
$screen-content: "min-width:" rems($content-width);

// COLORS

$offwhite: #f5f5f5;
$lightestgray: #e0e0e0; // light gray bg
$lightergray: #d2d1d1; // carousel dots
$lightgray: #999; // nav default state
$gray: #666; // body font
$darkgray: #333; // dark gray bg
$pink: #d175a1;

// UTILITIES
.centered {
    text-align: center;
}

.only-small {
    @include mq($screen-min) {
        display: none;
    }
}
.only-medium {
    @include mq("max-width:" rems($min-width)) {
        display: none;
    }
}

// SLICK
$slick-dot-color: $lightergray;
$slick-dot-color-active: $pink;
$slick-opacity-default: 1;
$slick-opacity-not-active: 1;
$slick-opacity-on-hover: 0.75;
$slick-dot-size: 16px;
