{% extends 'layouts/_text' %}

{% block content %}
{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<div id="thanks" style="display:none;">
    <p>Thanks for the message <span id="name"></span></p>
</div>

<form method="post" action="" class="form" accept-charset="UTF-8" id="contact">
    <p>To get in touch with the Social Computing group, please leave a message below.</p>
    {{ getCsrfInput() }}

    <input type="hidden" name="age">
    <input type="hidden" name="action" value="contactForm/sendMessage">

    <h3><label for="fromName">Your Name</label></h3>
    <input class="input-gray input--full" id="fromName" type="text" name="fromName" placeholder="e.g. Jane Doe">

    <h3><label for="fromEmail">Your Email</label></h3>
    <input class="input-gray input--full" id="fromEmail" type="text" name="fromEmail" placeholder="jane@mail.com">

    <h3><label for="message">Message</label></h3>
    <textarea class="textarea-gray" rows="10" cols="40" id="message" name="message"></textarea>

    <div class="box">
        <input type="submit" value="Send">
    </div>
</form>

<script>
document.addEventListener('DOMContentLoaded', function(e) {
    $('#contact').submit(function(ev) {
        // Prevent the form from actually submitting
        ev.preventDefault();

        // Get the post data
        var data = $(this).serialize() + '&subject=Sent+via+social.media.mit.edu',
            name = $('#fromName').val()

        // Send it to the server
        $.post('/contact', data, function(response) {
            if (response.success) {
                $('#name').html(name)
                $('#thanks').fadeIn();
                $('#contact').fadeOut()
            } else {
                // response.error will be an object containing any validation errors that occurred, indexed by field name
                // e.g. response.error.fromName => ['From Name is required']
                alert('An error occurred. Please try again.');
            }
        })
    })
})
</script>
{% endblock %}
