<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

        <link href="/assets/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header class="l-highlight l-fixed-top">
            <div class="l-max">
                <div class="l-vpadding">
                    <div class="l-contain">
                        <div class="l-left">
                            <h1 class="nav-logo"><a href="{{ siteUrl }}">Social Computing</a></h1>
                        </div>
                        <!-- .l-left -->
                        <div class="l-right">
                            <button id="menu" class="btn btn-menu" type="button" role="button" aria-label="Toggle Navigation"><span></span></button>
                            {% set sections = craft.sections.getAllSections() %}
                            {% set s1 = craft.request.firstSegment %}

                            <nav id="mainNav" class="nav">
                                <h2 class="visuallyhidden">Navigation Bar</h2>
                                <ul class="nav-list">
                                {% for s in sections %}
                                    {# structures with nested children #}
                                    {% if s.maxLevels > 1 %}

                                        {% if s1 == s|lower or ( s.isHomepage() and s1 is empty ) %}

                                        <li class="nav-item" data-dropdown="is-open">
                                            <a href="#" class="active">{{ s }}</a>

                                        {% else %}

                                        <li class="nav-item" data-dropdown="is-closed">
                                            <a href="#">{{ s }}</a>

                                        {% endif %}

                                        
                                        {% set children = craft.entries.section(s).level(1) %}
                                        <div class="nav-dropdown">
                                            <ul class="nav-list">
                                            {% for child in children %}
                                            {% set s2 = craft.request.getSegment(2) %}
                                            <li class="nav-item">
                                                <a href="{{ url(child.url) }}"{% if s2 == child|lower %} class="active"{% endif %}>{{ child }}</a>
                                            </li>
                                            {% endfor %}
                                            </ul>
                                            <!-- .nav-stacked -->
                                        </div>
                                        <!-- .nav-dropdown -->
                                    </li>
                                    {# one level structures, singles, and channels #}
                                    {% else %}
                                        <li class="nav-item">

                                        {% if s1 == s|lower or ( s.isHomepage() and s1 is empty ) %}
                                        <a href="{{ url(s|lower) }}" class="active">{{ s }}</a>
                                        {% else %}
                                        <a href="{{ url(s|lower) }}">{{ s }}</a>
                                        {% endif %}

                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                <!-- .stacked-nav -->
                                <div class="box box--gray centered only-small">
                                    <h3 class="box-title">recent</h3>
                                    <ul class="box-list">
                                    {% for slide in recentNews.recent %}
                                        <li>{{ slide.caption }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </nav>
                            <!-- .nav-narrow -->

                        </div>
                        <!-- .l-right -->
                    </div>
                    <!-- .l-contain -->
                </div>
                <!-- .l-vpadding -->
            </div>
            <!-- .l-max -->
        </header>
        <!-- .l-highlight -->
