<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

        <link href="/assets/css/styles.css" rel="stylesheet">
    </head>
    {% if flexpage is defined %}
    <body class="is-flexpage">
    {% else %}
    <body>
    {% endif %}
    {% set slug = craft.request.firstSegment ? craft.request.firstSegment : 'about' %}
    {% if craft.sections.getSectionByHandle(slug).type != 'channel' %}
        <header class="l-highlight l-fixed-top" id="siteHeader">
            <div class="l-max">
                <div class="l-vpadding">
                    <div class="l-contain">
                        <div class="l-left">
                            <h1 class="nav-logo"><a href="{{ siteUrl }}">Social Computing</a></h1>
                        </div>
                        <!-- .l-left -->
                        <div class="l-right">
                            <button id="menu" class="btn btn-menu" type="button" role="button" aria-label="Toggle Navigation"><span></span></button>

                            {% set s1 = craft.request.firstSegment %}
                            {% if navsub is defined %}
                            <nav id="mainNav" class="nav nav--lower">
                            {% else %}
                            <nav id="mainNav" class="nav">
                            {% endif %}
                                <h2 class="visuallyhidden">Navigation Bar</h2>
                                <ul class="nav-list">
                                {% for nav in navSet.navItems %}
                                    {% set s = craft.sections.getSectionByHandle(nav.slug) %}
                                    {# structures with nested children #}
                                    {% if s is not empty and s.maxLevels > 1 %}

                                        {% if s1 == s|lower or ( s.isHomepage() and s1 is empty ) %}

                                        <li class="nav-item" data-dropdown="is-closed">
                                            <a href="{{ url(nav|lower) }}" class="active">{{ s }}</a>

                                        {% else %}

                                        <li class="nav-item" data-dropdown="is-closed">
                                            <a href="{{ url(nav|lower) }}">{{ s }}</a>

                                        {% endif %}

                                        
                                        {% set children = craft.entries.section(s).level(1) %}
                                        <div class="nav-dropdown">
                                            <ul class="nav-list">
                                            {% for child in children %}
                                            {% set s2 = craft.request.getSegment(2) %}
                                            <li class="nav-item">
                                                <a href="{{ url(child.url) }}"{% if s2 == child|lower %} class="active"{% endif %}>{{ child }}</a>
                                            </li>
                                            {% endfor %}
                                            </ul>
                                            <!-- .nav-stacked -->
                                        </div>
                                        <!-- .nav-dropdown -->
                                    </li>
                                    {# one level structures, singles, and channels #}
                                    {% else %}
                                    <li class="nav-item">

                                        {% if s1 == nav|lower or ( s is not empty and s.isHomepage() and s1 is empty ) %}
                                        <a href="{{ url(nav|lower) }}" class="active">{{ nav }}</a>
                                        {% else %}
                                        <a href="{{ url(nav|lower) }}">{{ nav }}</a>
                                        {% endif %}

                                    </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                <!-- .stacked-nav -->
                                <div class="box box--gray centered only-small">
                                    <h3 class="box-title">recent</h3>
                                    <ul class="box-list">
                                    {% for slide in recentNewsSet.recentItems %}
                                        {% if slide.mobileHeadline %}
                                        <li>{{ slide.mobileHeadline }}</li>
                                        {% else %}
                                        <li>{{ slide.desktopHeadline }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </nav>
                            <!-- .nav-narrow -->

                        </div>
                        <!-- .l-right -->
                        {% if navsub is defined %}
                        <div class="l-clear only-small">
                            <span class="nav-subtitle">{{ navsub }}</span>
                        </div>
                        {% endif %}
                    </div>
                    <!-- .l-contain -->
                </div>
                <!-- .l-vpadding -->
            </div>
            <!-- .l-max -->
        </header>
        <!-- .l-highlight -->
    {% endif %}
