{% include 'partials/_header' %}

<div class="l-max scrollbar">
    <div class="l-content" id="content">
        <div class="grid grid--image">
            {% for user in users %}
            {% set slug = user.fullName | slugify %}
            <div class="grid-item">
                <a href="{{siteUrl}}people/{{slug}}" class="box box--white">

                    {% if user.photoUrl %}
                        <img class="box-image" src="{{ user.getPhotoUrl('537') }}">
                        {% else %}
                        <img class="box-image" src="/assets/img/temp/people.jpg">
                    {% endif %}

                    <img class="box-mask" src="/assets/img/masks/white_full.png" alt="" />

                </a>
                <div class="text">
                    <div class="text-body text-body--collapse medium">
                        <h3 class="text-title text-title--plain"><a href="{{siteUrl}}people/{{slug}}">{{ user.fullName|lower }}</a></h3>
                        <p>{{ user.position|lower }}</p>
                        {% for contact in user.contactLink %}
                            {% if contact.type == 'linkBlock' %}
                            <a href="{{ contact.linkUrl }}">{{ contact.linkText }}</a>
                            {% elseif contact.type == 'twitterBlock' %}
                            <a href="http://twitter.com/{{ contact.twitterHandle }}">twitter</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="grid-spacer"></div>
        </div>
        <!-- .grid -->
    </div>
    <!-- .l-content -->
</div>
<!-- .l-max -->


{% include 'partials/_footer' %}
