{% include 'partials/_header' %}

<div class="l-withsidebar scrollbar" id="scrollable">
    <div class="l-sidebar" data-sidebar="is-closed" id="sidebar">

        <nav class="nav-side" id="sidenav">
            <div class="l-upperright">
                <button id="sidenavButton" class="btn btn-menu btn--sidemenu" type="button" role="button" aria-label="Toggle Navigation"><span></span></button>
            </div>
            <!-- .l-upperright -->

            {% block sidebar %}
            <div class="chapter-nav sidebar-body" id="chapterNav">
                <h2>{{ sectionTitle }}</h2>

                <ul class="chapter-list sidebar-for-open" id="chapterList">
                {% for chapter in chapters %}

                    {% if loop.first %}
                    <li><a href="#{{ chapter.slug }}" class="active">{{ chapter }}</a></li>
                    {% else %}
                    <li><a href="#{{ chapter.slug }}">{{ chapter }}</a></li>
                    {% endif %}

                {% endfor %}
                </ul>
                <!-- .chapter-list -->

                <ul class="chapter-bullets sidebar-for-closed">
                {% for chapter in chapters %}

                    {% if loop.first %}
                    <li><a href="#{{ chapter.slug }}" class="active"></a></li>
                    {% else %}
                    <li><a href="#{{ chapter.slug }}"></a></li>
                    {% endif %}

                {% endfor %}
                </ul>
                <!-- .chatper-bullets -->
            </div>
            <!-- .chapter-nav -->
            {% endblock sidebar %}
        </nav>
        <!-- .nav-side -->

    </div>
    <!-- .l-sidebar -->

    <div class="l-content-withsidebar" id="content">
        {% block content %}
        <main class="chapter-content">
            <article class="chapter-article">
            {% for chapter in chapters %}

                <section class="chapter" id="{{ chapter.slug }}">

                    {% if chapter.chapterImage|length %}
                    <div class="box--white chapter-image">
                        <img class="box-image" src="{{chapter.chapterImage.first().getUrl('bodyContent')}}">
                        <img class="box-mask" src="/assets/img/masks/white_full.png">
                    </div>
                    {% endif %}

                    <div class="text">
                        <h2 class="text-title">{{ chapter }}</h2>
                    </div>

                    {% set content = chapter.multiContent %}

                    {% include 'partials/_content' %}
                </section>
                <!-- #{{ chapter.slug }} .chapter -->
            {% endfor %}
            </article>
            <!-- .chapter-article -->
        </main>
        <!-- .chapter-content -->
        {% endblock content %}
    </div>
    <!-- .l-content-withsidebar -->

</div>
<!-- .l-withsidebar -->

{% include 'partials/_footer' %}

