{% include 'partials/_header' %}

<main class="l-max scrollable">
{% for project in projects %}

    {# bugfix for live preview #}
    {% if craft.request.isLivePreview and project.id == entry.id %}
        {% set project = entry %}
    {% endif %}

    <div class="l-contain">
        <div class="{{ cycle(['l-left-block','l-right-block'], loop.index0) }}{% if projects|length == 1 %} solo{% endif %}">
            <article class="project">
                <section class="project-gallery">
                {% if project.projectSlideshow|length %}
                {% for image in project.projectSlideshow %}
                    <div><img src="{{ image.getUrl('project') }}"></div>
                {% endfor %}
                {% endif %}
                </section>
                <div class="text centered">
                    <h2 class="text-title">
                        <a href="{{ url(project.uri) }}">{{ project }}</a>
                    </h2>
                    <div class="text-body">
                        {{ project.summary }}
                    </div>
                </div>
            </article>
            <!-- .project -->
        </div>
    </div>
    <!-- .l-contain -->
{% endfor %}
</main>

{% include 'partials/_footer' %}

