{% extends 'layouts/_offcanvas' %}

{% block sidebar %}
    {% include 'partials/_blog-sidebar' %}
{% endblock sidebar %}

{% set categories = entry.blogCategory %}

{% block content %}
<div class="l-upperright">
    <div class="share addthis_toolbox addthis_16x16_style">
        <a class="addthis_button_compact">+ share</a>
    </div>
</div>
<article class="text" id="article">
    <div class="text-header">
        <h2 class="text-title">{{ entry }}</h2>
        <footer class="text-body text-footer">
            written by <a href="{{ url('blog/author/' ~ entry.authorId) }}">{{ entry.author.fullName }}</a> on <time pubdate="{{ entry.dateCreated.w3cDate() }}">{{ entry.dateCreated|date('F d, Y')|lower }}</time>
        </footer>
    </div>
    <!-- .text-header -->

    {% set content = entry.multiContent %}
    {% include 'partials/_content' %}

</article>

{% set params = { section : 'blog', order : 'postDate' } %}
{% set prev = entry.getPrev(params) %}
{% set next = entry.getNext(params) %}

<div class="nav-sibling nav-sibling--prev" id="prev">
{% if prev %}
    <div class="nav-sibling-clip">
        <a class="nav-arrow" href="{{ prev.url }}"></a>
        <span class="nav-sibling-title">{{ prev }}</span>
    </div>
{% else %}
    <span class="nav-arrow disabled"></a>
{% endif %}
</div>

<div class="nav-sibling nav-sibling--next" id="next">
{% if next %}
    <div class="nav-sibling-clip" id="nextBlog">
        <a class="nav-arrow" href="{{ next.url }}"></a>
        <span class="nav-sibling-title">{{ next }}</span>
    </div>
{% else %}
    <span class="nav-arrow disabled"></span>
{% endif %}
</div>

{% endblock content %}
