{% extends 'layouts/_offcanvas' %}

{% block sidebar %}
    {% include 'partials/_blog-sidebar' %}
{% endblock sidebar %}

{% set categories = entry.blogCategory %}

{% block content %}
<article class="text">
    <div class="text-header">
        <h2 class="text-title">{{ entry }}</h2>
        <footer class="text-body text-footer">
            written by <a href="{{ url('blog/author/' ~ entry.id) }}">{{ entry.author.fullName }}</a> on <time pubdate="{{ entry.dateCreated.w3cDate() }}">{{ entry.dateCreated|date('F d, Y')|lower }}</time>{% if categories|length %} &mdash; {% for c in categories %}
        {{ loop.last and not loop.first ? '& ' : '' }}<a href="{{ url(c.uri) }}">{{ c|lower }}</a>{{ not loop.last ? ', ' : '' }}
    {% endfor %}{% endif %}
        </footer>
    </div>
    <!-- .text-header -->

    {% set content = entry.multiContent %}
    {% include 'partials/_content' %}

</article>

{% set params = { section : 'blog', order : 'postDate' } %}
{% set prev = entry.getPrev(params) %}
{% set next = entry.getNext(params) %}

<div class="nav-sibling nav-sibling--prev">
{% if prev %}
    <a class="nav-arrow" href="{{ prev.url }}"></a>
    <span>{{ prev }}</span>
    <div class="nav-sibling-bg"></div>
{% else %}
    <span class="nav-arrow disabled"></a>
{% endif %}
</div>

<div class="nav-sibling nav-sibling--next">
{% if next %}
    <a class="nav-arrow" href="{{ next.url }}"></a>
    <span>{{ next }}</span>
    <div class="nav-sibling-bg"></div>
{% else %}
    <span class="nav-arrow disabled"></span>
{% endif %}
</div>

{% endblock content %}
