{% extends 'layouts/_offcanvas' %}

{% if category is defined %}
    {% set articles = craft.entries.relatedTo(category) %}
{% else %}
    {% set articles = craft.entries.section('blog') %}
{% endif %}

{% block sidebar %}
    {% include 'partials/_blog-sidebar' %}
{% endblock sidebar %}

{% block content %}
    <div class="circle-logo">
        {% include 'svg/sc-logo.svg' %}
        <h1>blog</h1>
    </div>

    <main class="summary-list">
        {% include 'partials/_blog-list' %}
    </main>
    <!-- .summary-list -->
{% endblock content %}
