{% extends 'layouts/_home' %}

{% set entry = craft.entries.section('home').first() %}
{% set flexpage = true %}

{% block content %}
<main class="l-flexpage">
    <section class="l-full l-slideshow">
        <h2 class="visuallyhidden">Featured Carousel</h2>
        <div class="ss" id="carousel">
        {% for slide in entry.slideshow %}
            {% set i = slide.image.first() %}
            <div>
                <div class="ss-slide" style="background-image: url({{ i.url }});">
                    <span class="ss-headline">{{ slide.headline }}</span>
                </div>
                <div class="ss-caption">{{ slide.headline }}</div>
            </div>
        {% endfor %}
        </div>
    </section>

    <section class="l-highlight-offwhite">
        <h2 class="visuallyhidden">Page Content</h2>
        <div class="l-max only-medium">
            <div class="l-twocolumn">
                <div class="l-2of3">
                    <div class="text">
                        <article class="text-body medium">
                        {{ entry.textContent }}
                        </article>
                    </div>
                </div>
                <div class="l-1of3">
                    <aside class="box">
                        <h2 class="visuallyhidden">Recent News</h2>
                        <div class="text">
                            <div class="text-body medium" id="newsCaption">
                            {{ recentNewsSet.recentItems.first().caption }}
                            </div>
                        </div>
                        <div id="recentNews" class="ss--small">
                            {% for slide in recentNewsSet.recentItems %}
                            {% set i = slide.image.first() %}
                            <article class="ss-slide-small">
                                <h3 class="visuallyhidden">{{ slide.caption }}</h3>
                                <img src="{{ i.getUrl('thumbnail') }}">
                            </article>
                        {% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
