{% extends 'layouts/_home' %}

{% set flexpage = true %}
{% if craft.request.firstSegment %}
    {% set entry = craft.entries.type('about').first() %}
{% endif %}

{% block content %}
<main class="l-flexpage">
    <section class="l-full l-slideshow">
        <h2 class="visuallyhidden">Featured Carousel</h2>
        <div class="ss" id="carousel">
        {% for slide in entry.slideshow %}
            {% set i = slide.image.first() %}
            <div>
                <div class="ss-slide" style="background-image: url({{ i.url }});">
                    <span class="ss-headline {{ slide.color }}">{{ slide.headline }}</span>
                </div>
                <div class="ss-caption">{{ slide.headline }}</div>
            </div>
        {% endfor %}
        </div>
    </section>

    <section class="l-highlight-offwhite">
        <h2 class="visuallyhidden">Page Content</h2>
        <div class="l-max only-medium">
            <div class="l-vpadding">
                <div class="l-twocolumn">
                    <div class="l-2of3">
                        <div class="text">
                            <article class="text-scroll">
                                <div class="text-body medium">
                                {{ entry.textContent }}
                                </div>
                                <!-- .text-body -->
                            </article>
                            <!-- .text-scroll -->
                        </div>
                        <!-- .text -->
                    </div>
                    <!-- .l-2of3 -->
                    <div class="l-1of3">
                        <aside id="recentContainer">
                            <h2 class="flush">recent</h2>
                            <div class="box--wavy box--gray">
                                <div class="text" id="newsCaption">
                                    <div class="text-body padded">{{ entry.recentItems.first().caption }}</div>
                                </div>
                                <!-- .text#newsCaption -->
                                <div id="recentNews" class="ss--small">

                                    {% for slide in entry.recentItems %}
                                    {% set i = slide.image.first() %}
                                    <article class="ss-slide-small">
                                        {% if slide.linkUrl %}
                                        <a class="ss-slide-link" href="{{ slide.linkUrl }}" target="_blank" title="Go to {{ slide.linkUrl }}">
                                        {% elseif slide.siteEntry.first()|length %}
                                        <a class="ss-slide-link" href="{{ slide.siteEntry.first().getUrl() }}" target="_blank" title="Go to {{ slide.siteEntry.first().getUrl() }}">
                                        {% endif %}
                                            <h3 class="visuallyhidden">{{ slide.caption }}</h3>
                                            <img src="{{ i.getUrl('recentNews') }}" alt="{{ slide.caption }}">

                                        {% if slide.linkUrl or slide.siteEntry.first()|length %}
                                        </a>
                                        {% endif %}
                                    </article>
                                    {% endfor %}

                                </div>
                                <!-- .ss-small#recentNews -->
                            </div>
                            <!-- .box-wavy -->
                        </aside>
                        <!-- #recentContainer -->
                    </div>
                    <!-- .l-1of3 -->
                </div>
                <!-- .l-twocolumn -->
            </div>
            <!-- .l-vpadding -->
        </div>
        <!-- .l-max -->
    </section>
    <!-- .l-highlight-offwhite -->
</main>
{% endblock %}
