{% extends 'layouts/_home' %}

{% set entry = craft.entries.section('home').first() %}

{% block content %}

    <div class="l-full">
        <section class="ss" id="slideshow">
        {% for slide in entry.slideshow %}
            {% set i = slide.image.first() %}
            <div>
                <div class="ss-slide" style="background-image: url({{ i.url }});">
                    <span class="ss-headline">{{ slide.headline }}</span>
                </div>
            </div>
        {% endfor %}
        </section>
    </div>

{% endblock %}
